build/
/demo/BERT/models
/demo/BERT/engines
/demo/BERT/squad/*.json
/docker/jetpack_files/*
*.nvmk
*.sln
*.vcxproj
externals/
docker/libei_debug.a
docker/cudnn
docker/tensorrt
docker/cudnn_extract
docker/cudart